[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
albumentations = "*"
catboost = "*"
cython = "*"
json-tricks = "*"
matplotlib = "*"
numpy = "*"
openai = "*"
opencv-python = "*"
openmim = "*"
pandas = "*"
pillow = "*"
pyyaml = "*"
scikit-learn = "*"
timm = "*"
torch = "*"
torchvision = "*"
transformers = "*"
xtcocotools = "*"

[dev-packages]
jupyterlab = "*"

[scripts]
mmpose_install = "mim install mmengine mmcv==2.1.0 mmdet>=3.1.0 mmpose"

[requires]
python_version = "3.9"
python_full_version = "3.9.5"
